*{
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 3px;
  margin: auto;
  background-color: #fff;
}

header {
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > #logo:hover {
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 -6px 12px rgba(0, 0, 0, 0.2);
}

header > div:nth-child(1) {
  text-align: center;
}

header div:nth-child(2) {
  text-align: right;
  overflow-wrap: break-word;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #F4B72870;
  border-radius: 6px;
  justify-content: space-between;
}

footer > div {
  flex-basis: 50%;
  text-align: center;
}

footer div:nth-child(3) {
  padding: 10px;
  flex-basis: 100%;
  overflow-x: scroll;
}

/* Tags style */
sub {
  padding: 1px;
  font-style: italic;
}

/* Table */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;
}

table tr {
  display: flex;
}

table th,
table td {
  flex: 1;
  border: 1px solid #ddd;
  padding: 14px;
}

table th {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f4b72870;
}

/* Progress bar */
#halving-bar {
  padding: 5px;
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#progress-box {
  height: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#progress {
  height: 100%;
  border-radius: 10px;
  background-color: #F4B728;
  width: 0;
}

#progress-label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

/* Buttons */
.btn-centred-container {
  text-align: center;
}

/* Buttons */
.btn-centred-container {
  text-align: center;
}

.btn {
  background-color: #F4B72870;
  border: solid 1px black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px auto;
  cursor: pointer;
  transition: all 0.6s;
  position: relative;
  padding: 20px 40px;
  border-radius: 50% 30% 50% 30% / 60% 40% 60% 40%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 -6px 12px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #f4b728;
  border-radius: 20% 50% 50% 20% / 30% 40% 60% 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 -10px 20px rgba(0, 0, 0, 0.3);
  transform: translate(10px, 10px) rotate(15deg) scale(1.1);
}

.btn:visited {
  color: black;
  text-decoration: none;
}

/* Collapsibles */
.collapsible {
  background-color: #F4B72870;
  border: solid 1px black;
  width: 100%;
  margin: 4px auto 4px auto;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
}

.collapsible:hover, .collapsible:focus {
  background-color: #f4b728;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 -10px 20px rgba(0, 0, 0, 0.3);
}

.content {
  padding: 2px 18px;
  display: none;
  overflow: hidden;
  background-color: #f4b72870;
  border-radius: 6px;
}