/* General rules*/
::-webkit-scrollbar {
  display: none;
}
sub {
    padding: 1px;
    font-style: italic;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* Header */
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div:first-child {
  margin-top: 10px;
}

/* Body */
body {
    margin: auto;
    padding: auto;
}

#links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
#links > section {
    padding: 10px;
}
@media (max-width: 767px) {
    #links {
        grid-template-columns: repeat(1, 1fr);
    }
}

#stats {
  padding: 5px;
  background-color: white;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 10px black;
}
footer > div {
    flex-basis: 50%;
    text-align: center;
}
footer div:last-of-type {
  padding: 10px;
  flex-basis: 100%;
  overflow-x: scroll;
}