/* General rules*/
::-webkit-scrollbar {
  display: none;
}

sub {
  padding: 1px;
  font-style: italic;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table th {
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eee;
}

/* Progress bar */
#progress-box {
  width: 100%;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#halving-stats {
  text-align: center;
}

#progress {
  height: 100%;
  border-radius: 10px;
  background-color: #000;
  width: 0;
}

#progress-label {
  position: absolute;
  z-index: 1;
  color: #fff;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
}


/* Collapse */
.collapsible {
  width: 100%;
  margin: 4px;
  border: solid 1px black;
  margin: 4px auto 4px auto;
  cursor: pointer;
  text-align: center;
}

.collapsible:hover {
  background-color: #eee;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

/* Header */
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div:first-child {
  margin-top: 10px;
}

/* Body */
body {
  margin: auto;
  padding: 10px 5px 10px 5px;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid 10px black;
}

footer > div {
  flex-basis: 50%;
  text-align: center;
}

footer div:last-of-type {
  padding: 10px;
  flex-basis: 100%;
  overflow-x: scroll;
}